<%- include("./navbar") %>
<div class="spacer vertical"></div>
<header class="header">
	<a href="/">
		<h1 class="header__title">Super Dating</h1>
	</a>
	<div class="spacer vertical xs"></div>
	<h2 class="header__baseline">Don't settle, find super love!</h2>
</header>