<!DOCTYPE html>
<html lang="fr">

	<head>
		<%- include("includes/headContent") %>
		<!-- <link rel="stylesheet" href="/styles/index.css"> -->
	</head>

	<body>
		<%- include("includes/header") %>
		<div class="spacer vertical lg"></div>
		<main class="main full">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer vertical sm"></div>
			<h2 class="h2">Restricted area</h2>
		</main>
	</body>

</html>