<!DOCTYPE html>
<html lang="fr">

	<head>
		<%- include("includes/headContent") %>
		<link rel="stylesheet" href="/styles/index.css">
	</head>

	<body>
		<%- include("includes/navbar") %>
		<div class="flex align-center gap-lg ">
			<img class="profileTitleImage position-top" src="./images/giraffe.jpg" alt="Girafe">
			<div>
				<h1><%= title %></h1>
			</div>
		</div>
		<div class="spacer vertical"></div>
		<p>Ça boume&nbsp;?</p>
	</body>

</html>