.badges {
	display: flex;
	flex-wrap: wrap;
	gap: var(--xs);
}

.badge {
	background-color: var(--col-light);
	padding: var(--xxxs) var(--sm);
	border-radius: var(--xs);
	font-weight: var(--text-medium);
	
	&.white {
		background-color: var(--col-white);
	}
	&.gray {
		background-color: color-mix(in srgb, var(--col-gray), transparent);
	}
	&.sm {
		font-size: var(--text-sm);
		font-weight: var(--text-normal);
		padding-inline: var(--xs);
	}
}